html {
  background-color: rgb(24, 46, 66);
  scrollbar-gutter: stable;
}

body {
  width: 100vw;
  margin: auto;
  scrollbar-gutter: stable;
}

.hoverDarken:hover {
  opacity: 90%;
  background-color: black;
}

input {
  color: black !important;
}
